<div class="container">
  <h2 class="title">Вхід</h2>

  <p class="margin_top_small">Введіть ваш email та пароль для входу на сайт</p>

  <div class="margin_top_small"> 
    <%= form_with scope: :session , url: session_path  ,data: {turbo: false} do |form|%>
      <p><%=form.label :email%></p>
      <p><%=form.text_field :email , class: 'form-text-field' %></p>

      <p><%=form.label :password%></p>
      <p><%=form.password_field :password , class: 'form-text-field' %></p>

      <p class="margin_top_med"><%= form.submit 'Ввійти' , class: 'button button-main'%></p>
    <%end%>
  </div>   
</div>